<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseTest"
        tools:targetApi="31">
        <activity
            android:name="com.example.firebasetest.FirebaseEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.firebasetest.KeyStoreActivity"
            android:exported="false" />
        <activity
            android:name="com.example.firebasetest.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data-->
<!--                    android:host="emailauth-a25c6.firebaseapp.com"-->
<!--                    android:pathPrefix="/__/auth/links"-->
<!--                    android:scheme="https" />-->
<!--            </intent-filter>-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="https"
                    android:host="baidu.com"
                    android:pathPrefix="/__/auth/links" />
            </intent-filter>

        </activity>
    </application>

</manifest>